<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <!-- Your django path -->
    <add key="PYTHONPATH" value="C:\dispatch-system\" /> 
    <!-- Your djangoname.settings -->
    <add key="DJANGO_SETTINGS_MODULE" value="main.settings" />
  </appSettings>
    <system.webServer>
        <handlers>
            <add name="DispatchAPI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator.BSPE\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\Administrator.BSPE\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
