body {
    font-size: 13px;
    text-align: left;
}

h3 {
    font-size: 10px;
}

.paperA4 {
    width: 275mm;
    height: 210mm;
    margin-top: 12px;
    /* border: 1px solid #000; */
    border: none;
}

table {
    border-collapse: collapse;
    padding-bottom: 0;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
}

.tbl-dept {
    width: 100%;
    margin: 0;
    border: none;
}

.tbl-dept tr,
.tbl-dept td {
    border: none;
    border-top: 1px solid #000;
}

h3 {
    margin: 12px;
}

h5 {
    margin: 8px;
}

.tbl-rev-page,
.tbl-rev-page td {
    width: 50%;
    border: none;
    border-right: #000 solid 1px;
}

.tbl-rev-page td {
    padding: 0;
}

.form1 td {
    text-align: left;
    padding: 5px 5px;
    border: none;
}

table .split {
    padding: 0;
    margin: 0;
}

.date td, .signatory td {
    border: none;
}

.notice td {
    border: none;
    text-align: left;
}

.notice h3 {
    font-size: 20px;
}

.form2 td{
    border: none;
    font-size: '15px';
    font-weight: 600;
}